/*--------------------------------------------------------------------------------------------------------------------*/

@import url("bootstrap-icons/font/bootstrap-icons.css");

@import url("bootstrap/dist/css/bootstrap.css");

/*--------------------------------------------------------------------------------------------------------------------*/

@import url("@vueform/multiselect/themes/default.css");

@import url("flatpickr/dist/themes/material_blue.css");

@import url("@xterm/xterm/css/xterm.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --ms-px: calc(0.6rem - var(--bs-border-width));
    --ms-tag-my: 0.125rem;

    --ms-py: calc(0.25rem - var(--bs-border-width));
    --ms-tag-py: 0.125rem;

    --ms-font-size: 0.875rem;
    --ms-tag-font-size: 0.875rem;

    --ms-line-height: 1.5;
    --ms-tag-line-height: 1.5;

    --ms-bg: var(--bs-body-bg);
    --ms-dropdown-bg: var(--bs-body-bg);

    --ms-ring-color: rgba(13, 110, 253, 0.25);
    --ms-border-color: var(--bs-border-color);
    --ms-border-color-active: rgba(134, 183, 254, 1.0);
    --ms-dropdown-border-color: rgba(134, 183, 254, 1.0);

    --ms-ring-width: 0.25rem;
    --ms-border-width: var(--bs-border-width);
    --ms-dropdown-border-width: var(--bs-border-width);

    --ms-radius: var(--bs-border-radius-sm);
    --ms-tag-radius: var(--bs-border-radius-lg);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-fake-input {

    height: 0 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-tags-search {

    background-color: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-check-input {
    clear: left;
}

/**/

.form-switch.form-switch-sm {
    margin-bottom: 0.5rem;
}

.form-switch.form-switch-sm .form-check-input {
    height: 1.0rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

/**/

.form-switch.form-switch-md {
    margin-bottom: 1.0rem;
}

.form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

/**/

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem;
}

.form-switch.form-switch-lg .form-check-input {
    height: 2.0rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

/**/

.form-switch.form-switch-xl {
    margin-bottom: 2.0rem;
}

.form-switch.form-switch-xl .form-check-input {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
