/*--------------------------------------------------------------------------------------------------------------------*/

@import url("bootstrap-icons/font/bootstrap-icons.css");

@import url("bootstrap/dist/css/bootstrap.css");

/*--------------------------------------------------------------------------------------------------------------------*/

@import url("@vueform/multiselect/themes/default.css");

@import url("flatpickr/dist/themes/material_blue.css");

@import url("@xterm/xterm/css/xterm.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --ms-px: calc(0.6rem - var(--bs-border-width));
    --ms-tag-my: 0.125rem;

    --ms-py: calc(0.25rem - var(--bs-border-width));
    --ms-tag-py: 0.125rem;

    --ms-font-size: 0.875rem;
    --ms-tag-font-size: 0.875rem;

    --ms-line-height: 1.5;
    --ms-tag-line-height: 1.5;

    --ms-bg: var(--bs-body-bg);
    --ms-dropdown-bg: var(--bs-body-bg);
    --ms-bg-disabled: var(--bs-secondary-bg);

    --ms-ring-color: rgba(13, 110, 253, 0.25);
    --ms-border-color: var(--bs-border-color);
    --ms-border-color-active: rgba(134, 183, 254, 1.0);
    --ms-dropdown-border-color: rgba(134, 183, 254, 1.0);

    --ms-ring-width: 0.25rem;
    --ms-border-width: var(--bs-border-width);
    --ms-dropdown-border-width: var(--bs-border-width);

    --ms-radius: var(--bs-border-radius-sm);
    --ms-tag-radius: var(--bs-border-radius-lg);
}

/*--------------------------------------------------------------------------------------------------------------------*/

body {

    -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-fake-input {

    height: 0 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-tags-search {

    background-color: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-check-input {

    clear: left;
}

/**/

.form-switch.form-switch-sm {

    margin-bottom: 0.5rem;
}

.form-switch.form-switch-sm .form-check-input {

    height: 1.0rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

/**/

.form-switch.form-switch-md {

    margin-bottom: 1.0rem;
}

.form-switch.form-switch-md .form-check-input {

    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

/**/

.form-switch.form-switch-lg {

    margin-bottom: 1.5rem;
}

.form-switch.form-switch-lg .form-check-input {

    height: 2.0rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

/**/

.form-switch.form-switch-xl {

    margin-bottom: 2.0rem;
}

.form-switch.form-switch-xl .form-check-input {

    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.flatpickr-monthDropdown-months {

    color: var(--bs-body-color) !important;

    background-color: var(--bs-body-bg) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.nyx-group-disabled {
    position: relative;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    opacity: 0.75;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.nyx-group-disabled::after {
    inset: 0;
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpattern%20id%3D%27diagonalHatch%27%20patternUnits%3D%27userSpaceOnUse%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%27M-2%2C2%20l4%2C-4%20M0%2C8%20l8%2C-8%20M6%2C10%20l4%2C-4%27%20stroke%3D%27%23000000%27%20stroke-opacity%3D%270.1%27%20stroke-width%3D%272%27%2F%3E%0A%20%20%20%20%3C%2Fpattern%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20fill%3D%27url%28%23diagonalHatch%29%27%2F%3E%0A%3C%2Fsvg%3E");
}

/*--------------------------------------------------------------------------------------------------------------------*/
