/*--------------------------------------------------------------------------------------------------------------------*/

@import url("bootstrap-icons/font/bootstrap-icons.css");

@import url("bootstrap/dist/css/bootstrap.css");

/*--------------------------------------------------------------------------------------------------------------------*/

@import url("@vueform/multiselect/themes/default.css");

@import url("flatpickr/dist/themes/material_blue.css");

/*--------------------------------------------------------------------------------------------------------------------*/

body {

    -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* BOOTSTRAP-ICONS                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/

.bi.bi-telescope {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;

    background-color: currentColor;

    mask: url("data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%3E%3Cg%20stroke=%22black%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20fill=%22none%22%3E%3Cpath%20d=%22m10.065%2012.493-6.18%201.318a.934.934%200%200%201-1.108-.702l-.537-2.15a1.07%201.07%200%200%201%20.691-1.265l13.504-4.44%22/%3E%3Cpath%20d=%22m13.56%2011.747%204.332-.924%22/%3E%3Cpath%20d=%22m16%2021-3.105-6.21%22/%3E%3Cpath%20d=%22M16.485%205.94a2%202%200%200%201%201.455-2.425l1.09-.272a1%201%200%200%201%201.212.727l1.515%206.06a1%201%200%200%201-.727%201.213l-1.09.272a2%202%200%200%201-2.425-1.455z%22/%3E%3Cpath%20d=%22m6.158%208.633%201.114%204.456%22/%3E%3Cpath%20d=%22m8%2021%203.105-6.21%22/%3E%3Ccircle%20cx=%2212%22%20cy=%2213%22%20r=%222%22/%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* MULTISELECT                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --ms-px: calc(0.6rem - var(--bs-border-width));
    --ms-tag-my: 0.125rem;

    --ms-py: calc(0.25rem - var(--bs-border-width));
    --ms-tag-py: 0.125rem;

    --ms-font-size: 0.875rem;
    --ms-tag-font-size: 0.875rem;

    --ms-line-height: 1.5;
    --ms-tag-line-height: 1.5;

    --ms-bg: var(--bs-body-bg);
    --ms-dropdown-bg: var(--bs-body-bg);
    --ms-bg-disabled: var(--bs-secondary-bg);

    --ms-ring-color: rgba(13, 110, 253, 0.25);
    --ms-border-color: var(--bs-border-color);
    --ms-border-color-active: rgba(134, 183, 254, 1.0);
    --ms-dropdown-border-color: rgba(134, 183, 254, 1.0);

    --ms-ring-width: 0.25rem;
    --ms-border-width: var(--bs-border-width);
    --ms-dropdown-border-width: var(--bs-border-width);

    --ms-radius: var(--bs-border-radius-sm);
    --ms-tag-radius: var(--bs-border-radius-lg);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-fake-input {

    height: 0 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-tags-search {

    background-color: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.input-group > .multiselect {

    min-width: 0;
    flex: 1 1 auto;
    width: auto !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NYX BUTTON                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* BOOTSTRAP FORM CHECK                                                                                               */
/*--------------------------------------------------------------------------------------------------------------------*/

.form-check-input {

    clear: left;
}

/**/

.form-switch.form-switch-sm {

    margin-bottom: 0.5rem;
}

.form-switch.form-switch-sm .form-check-input {

    height: 1.0rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

/**/

.form-switch.form-switch-md {

    margin-bottom: 1.0rem;
}

.form-switch.form-switch-md .form-check-input {

    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

/**/

.form-switch.form-switch-lg {

    margin-bottom: 1.5rem;
}

.form-switch.form-switch-lg .form-check-input {

    height: 2.0rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

/**/

.form-switch.form-switch-xl {

    margin-bottom: 2.0rem;
}

.form-switch.form-switch-xl .form-check-input {

    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* FLATPICKR                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

.flatpickr-monthDropdown-months {

    color: var(--bs-body-color) !important;

    background-color: var(--bs-body-bg) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NYX GROUP                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

.nyx-group-disabled {

    position: relative;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    opacity: 0.75;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*----------------*/ .nyx-group-disabled::after {

    inset: 0;
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpattern%20id%3D%27diagonalHatch%27%20patternUnits%3D%27userSpaceOnUse%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%27M-2%2C2%20l4%2C-4%20M0%2C8%20l8%2C-8%20M6%2C10%20l4%2C-4%27%20stroke%3D%27%23000000%27%20stroke-opacity%3D%270.1%27%20stroke-width%3D%272%27%2F%3E%0A%20%20%20%20%3C%2Fpattern%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20fill%3D%27url%28%23diagonalHatch%29%27%2F%3E%0A%3C%2Fsvg%3E");
}

[data-bs-theme=dark] .nyx-group-disabled::after {

    inset: 0;
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpattern%20id%3D%27diagonalHatch%27%20patternUnits%3D%27userSpaceOnUse%27%20width%3D%278%27%20height%3D%278%27%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%27M-2%2C2%20l4%2C-4%20M0%2C8%20l8%2C-8%20M6%2C10%20l4%2C-4%27%20stroke%3D%27%23FFFFFF%27%20stroke-opacity%3D%270.1%27%20stroke-width%3D%272%27%2F%3E%0A%20%20%20%20%3C%2Fpattern%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20fill%3D%27url%28%23diagonalHatch%29%27%2F%3E%0A%3C%2Fsvg%3E");
}

/*--------------------------------------------------------------------------------------------------------------------*/
