/*--------------------------------------------------------------------------------------------------------------------*/

@import "@vueform/multiselect/themes/default.css";

@import "gridstack/dist/gridstack.css";

@import "@xterm/xterm/css/xterm.css";

/*--------------------------------------------------------------------------------------------------------------------*/

/* noinspection CssNonIntegerLengthInPixels */
:root {

    --ms-radius: 0.75rem;

    --ms-py: calc(0.25rem - 0.5px);

    --ms-ring-width: 0.25rem;
    --ms-ring-color: rgba(13, 110, 253, 0.25);

    --ms-bg: var(--bs-body-bg);
    --ms-dropdown-bg: var(--bs-body-bg);

    --ms-border-color: var(--bs-border-color);
    --ms-border-color-active: rgba(134, 183, 254, 1.0);
    --ms-dropdown-border-color: rgba(134, 183, 254, 1.0);

    --ms-border-width: var(--bs-border-width);
    --ms-dropdown-border-width: var(--bs-border-width);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-tags-search {

    background-color: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-bs-theme=light] .grid-stack > .grid-stack-item > .grid-stack-item-content {

    background-color: rgba(000, 000, 000, 2.5%) !important;
}

[data-bs-theme=dark] .grid-stack > .grid-stack-item > .grid-stack-item-content {

    background-color: rgba(255, 255, 255, 10%) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
