/*--------------------------------------------------------------------------------------------------------------------*/

@import "@vueform/multiselect/themes/default.css";

@import "gridstack/dist/gridstack.css";

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --ms-py: calc(0.25rem - 0.5px);

    --ms-radius: 0.75rem;

    --ms-bg: var(--bs-body-bg);
    --ms-border-color: var(--bs-border-color);
    --ms-border-width: var(--bs-border-width);

    --ms-dropdown-bg: var(--bs-body-bg);
    --ms-dropdown-border-color: var(--bs-border-color);
    --ms-dropdown-border-width: var(--bs-border-width);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.multiselect-tags-search {

    background-color: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/

[data-bs-theme=light] .grid-stack > .grid-stack-item > .grid-stack-item-content {

    background-color: rgba(000, 000, 000, 2.5%) !important;
}

[data-bs-theme=dark] .grid-stack > .grid-stack-item > .grid-stack-item-content {

    background-color: rgba(255, 255, 255, 10%) !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
